/* mt fuji background image */
.background {
  background-image: url('../public/mt-fuji.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  /* margin: 0; */
}

/* makes the background image flush with the top; used to have a white margin at the top */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* inter font */
@import url(https://fonts.googleapis.com/css?family=Inter);

/* name */
.Name-title {
  color: white;
  mix-blend-mode: exclusion;
  /* text-align: center; */
  font-size: 10vw;
  font-family: inter;
}

/* centering container (vertically and horizontally) */
.center-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  height: 75vh;
  /* text-align: center; */
  /* justify-content: center; */
  margin-left: auto;
  margin-right: auto;
}

/* container for the website */
.container {
  /* height: 500vh; */
  background-color: #CCCCCC;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
